@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(54, 54, 214);
}

h1 {
    text-align: center;
    color: white;
    padding: 10px;
}

section {
    background-color: white;
    width: 50vw;
    margin: auto;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.521);
}

/* #dados {
    
} */

p {
    padding: 5px 0px;
}

#nfim {
    margin-left: 12px;
}

#npasso {
    margin-left: 1px;
}

#botao {
    margin: 10px 0px;
    padding: 5px;
    background-color: grey;
    border-radius: 5px;
    font-weight: bold;
    
}

#botao:hover {
    color: white;
    cursor: pointer;
}

#res {
    text-align: center;
    padding-top: 20px;
}

footer {
    text-align: center;
    color: white;
    padding: 10px;
}